Source: backrest
Section: database
Priority: extra
Maintainer: Michael Renner <michael.renner@amd.co.at>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.6.0
Homepage: https://github.com/pgmasters/backrest
Vcs-Git: https://github.com/pgmasters/backrest.git
Vcs-Browser: https://github.com/pgmasters/backrest

Package: backrest
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libjson-perl, libnet-openssh-perl, libipc-system-simple-perl, libdigest-sha-perl, libthread-queue-any-perl
Recommends: openssh-client, openssh-server
Description: Postgres backup and restore system
 PgBackRest aims to be a simple backup and restore system that can seamlessly
 scale up to the largest databases and workloads.
 . 
 Instead of relying on traditional backup tools like tar and rsync,
 PgBackRest implements all backup features internally and uses a customs
 protocol for communicating with remote systems.
 .
 Removing reliance on tar and rsync allows for better solutions to
 database-specific backup issues.
